<!-- Footer -->
<p-footer>
    <div class="footer">
      <div class="footer-info">
        <h4>Sobre nosotros</h4>
        <p>Información sobre la empresa.</p>
        <p>Redes sociales:</p>
        <a href="#" class="social-link"><i class="pi pi-facebook"></i></a>
        <a href="#" class="social-link"><i class="pi pi-instagram"></i></a>
        <a href="#" class="social-link"><i class="pi pi-twitter"></i></a>
      </div>
      <div class="newsletter">
        <h4>Suscríbete a nuestro newsletter</h4>
        <input type="email" pInputText placeholder="Ingresa tu correo">
        <button pButton label="Suscribirse"></button>
      </div>
    </div>
  </p-footer>